@import "../../../utils/variables";

.AllNonFriends {
    border-right: 3px solid white;
    .listHeading {
        // border: 1px solid green;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 3px solid white;
    }
    .nonFriendsList {
        height: 92%;
        // border: 1px solid green;
        overflow-y: auto;
    }
}
