@import "../../../utils/variables";

.MyFriends {
    border-right: 3px solid white;

    .listHeading {
        // border: 1px solid green;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        border-bottom: 3px solid white;
    }

    .friendsList {
        height: 92%;
        border: 1px solid $darker-color;
        overflow-y: auto;
    }
}
